doctype html
html
  head
    title= `${title}`
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/post.css")
    link(rel="stylesheet", href="/css/profile.css")
    link(rel="stylesheet", href="/css/settings.css")
    
  body
    div.container.listing-reg

    block content
